
    <div class="artBG"></div>
    <div class="header">
      <h1 style="font-size: 10vh;">
        Gallery
      </h1>
    </div>
    <!-- Photo Grid -->
<div class="row">
  <div class="column">
    <img src="/assets/pictures/IMG_1069.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1070.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1083.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1090.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1094.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1097.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1103.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1104.JPG" style="width:100%">






<!-- you can put more images here -->
  </div>
  <div class="column">
    <img src="/assets/pictures/IMG_1072.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1076.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1084.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1091.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1095.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1096.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1102.JPG" style="width:100%">






<!-- you can put more images here -->

  </div>
  <div class="column">
    <img src="/assets/pictures/IMG_1075.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1079.JPG" style="width:100%">
    <img src="assets/pictures/IMG_1085.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1092.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1093.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1098.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1101.JPG" style="width:100%">
    







<!-- you can put more images here -->
  </div>
</div>
