<div class="aftercareBG"></div>
  <div class="header">
    <h1 style="font-size: 10vh;">
      Aftercare
    </h1>
 </div>

<div class="flex-container">\
  <h2>Typical Aftercare </h2>
    <p>
     - Wash tattoo once a day with plain soft soap hand soap. <br>
     - Use a small amount of plain unscented Lubriderm <br>
     rubbed all the way in on the tattoo a few times daily.<br>
     - For ALL tattoos be mindful of moisture.<br>
     - No long hot showers or baths where the tattoo would be submerged.<br>
     - If the tattoo is below the elbows avoid doing dishes.<br>
     - Be mindful of how often you wash your hands.<br>
    </p>

  <h2>Aftercare with Saniderm </h2>
    <p>
      - Ideally we want the saniderm on for 3 days, but at least 24 hours.<br>
      - The saniderm will start to fill up with plasma and begin to look like a soy sauce packet. <br>
      This is what we want! <br>
      - Saniderm is keeping oxygen from reaching tattoo and therefore not creating a scab.<br>
      - You can tape a piece of paper towel to your skin at night over the bandage <br>
      to try to lesson the chance of pulling it off in your sleep <br>
      - If at any point you notice that the bandage has opened up <br>
      immediately remove it and follow the standard aftercare. <br>
      - At the end of three days you can remove the bandage and <br>
      follow standard aftercare until fully healed. <br>
      - For tattoos below the elbow, it is essential that the bandage get removed as soon as it has broken it’s seal <br>
      to prevent any bacteria getting trapped inside the bandage <br>
      from activities such as doing the dishes and cooking, etc.<br>
      <br>
      Any further questions message me directly!
    </p>
</div>
