.aftercareBG {
  /* background-image: url("src/app/background/Screenshot_20220128-125803_Facebook.jpeg"); */
  background-color: grey;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

h1 {
  color: maroon;
  text-shadow: 2px 2px black;
  font-family: fantasy;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.75em;
}

h2 {
  color: maroon;
  text-shadow: 1px 2px black;
  font-family: fantasy;
  font-size: 8vh;
  padding-top: 0.3in;
}

p {
  color: maroon;
  font-family: fantasy;
  font-size: 3vh;
}

.flex-container {
  width: 10in;
  margin-top: .3in;
  margin-left: 3.2in;
  text-align: center;
  border: 5px solid maroon;
  justify-content: center;
}
