.aftercareBG {
  background-color: grey;
  background-color: rgb(182, 180, 180);
  background-image: url(../background/121376-abstract-light-grey-texture-background-design.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.header {
  color: maroon;
  text-shadow: 1px 2px black;
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

h1 {
  margin-top: 1in;
}

h2 {
  color: maroon;
  text-shadow: 1px 2px black;
  padding-top: 0.3in;
}

p {
  color: maroon;
  font-size: 3vh;
}

.flex-container {
  width: 95%;
  max-width: 968px;
  margin: 02em auto;
  text-align: center;
  background-color: rgb(200, 196, 196);
  border: 5px solid maroon;
  justify-content: center;
}
