<div class="abtBG"></div>

<div class="header">
  <h1>
    About
  </h1>
</div>
<!-- <div class="container full-screen d-flex justify-content-center allign-items-center"> -->
<div class="container img-fluid">
<!-- <div class="card col-12"> -->
    <div class="jetIMG">
    </div>
    <div class="container full-screen d-flex justify-content-center allign-items-center text-center">
        <p>Juliet Hendrix has been a professional tattooer for
           the last 5 years,with a natural artistic
           ability  from a very younge age. <br>
           Born, raised and having apprenticed right here in Cape Girardeau, MO,
          with strong family roots in Southeast Missouri.
          In tattooing, her style is more of a neotraditional or even "cartoony",
          as she describes, with a flair and passion for color tattoos.
          Juliet is a well rounded artist and student of many artistic mediums and interests,
          including sketching, digital art, and welding.
        </p>
  <!-- </div> -->
</div>
