.navbar {

  color: rgb(128, 0, 0);
  display: flex;
  align-items: (center) !important;
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  position: fixed;
  padding-right: 4rem;
  width: 100%;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28125, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgb(128, 0, 0);
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(0,0,0) !important;
}
.ul {
  margin: 0 auto;
}
a {
  color: maroon;
}

