<div class="polBG"></div>
  <!-- <div class="header"> -->
    <h1 style="font-size: 10vh;">
      Pollicies
    </h1>
 <!-- </div> -->

<div class="flex-container">
  <p>
    All designs and appointments require a non refundable $50- $100 drawing deposit (amounts vary by design size) <br>
    This comes off the price of the tattoo if you get it within the allotted time frame.
    If after a month of having your design finalized you have not made an appointment to receive the tattoo <br>
    your deposit will be null and void and your design will either be up for grabs <br>
    as a predrawn of mine or you can pay another deposit to save the design and set an appointment date <br>
    If you do set an appointment date and you don’t give me at least a 72 hour heads up <br>
    that you can’t make it to your appointment, your deposit becomes null and void then as well <br>
    Turn around time on designs varies but will usually be a week or so <br>

    My preferred method of correspondence is through either Facebook or Instagram <br>
    or you can always call or come by the shop as well
</p>
</div>
