<div class="polBG"></div>
  <div class="header">
    <h1 style="font-size: 10vh;">
      Pollicies
    </h1>
  </div>

<div class="flex-container">
  <p>
    - All designs and appointments require a non refundable $50- $100 drawing deposit (amounts vary by design size). <br>
    - This deposit comes off the price of the tattoo ONLY if you get it within 30 days.<br>
    - Turn around time on designs varies but will usually be a week. <br>
    - After a month of having your design finalized, you have not made an appointment <br>
    to receive the tattoo, your deposit will be VOID and your design will be up for grabs. <br>
    - You can pay another deposit to save the design and set an appointment date. <br>
    - Cancelations / Reschedules MUST give a 3 day, 72 hr notice or deposits will be VOID.<br>
    <br>
    My preferred method of correspondence is through either Facebook or Instagram <br>
    or you can always call or come by the shop as well.
  </p>
</div>
