
    <div class="artBG"></div>
    <div class="header">
      <h1 style="font-size: 10vh;">
        Gallery
      </h1>
    </div>
    <!-- Photo Grid -->
<div class="row">
  <div class="column">
    <img src="/assets/pictures/IMG_1069.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1070.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1090.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1097.JPG" style="width:100%">
        <img src="/assets/pictures/IMG_1103.JPG" style="width:100%">
        <img src="/assets/pictures/0F4518D9-ABEE-4397-A3A1-9ED3EAD0F20D_1_105_c.jpeg" style="width: 100%">
        <img src="/assets/pictures/437C760A-5214-4212-ABC8-15AD3645CF33_1_201_a.jpeg" style="width: 100%">
        <img src="/assets/pictures/DFFF6124-26C6-431D-80F1-F7C874CB980E_1_105_c.jpeg" style="width: 100%">
        <img src="/assets/pictures/EC25D222-3EAF-463B-A022-F65C50F72DD0_1_201_a.jpeg" style="width: 100%">





<!-- you can put more images here -->
  </div>
  <div class="column">
    <img src="/assets/pictures/IMG_1072.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1076.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1095.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1096.JPG" style="width:100%">
    <img src="/assets/pictures/0F4518D9-ABEE-4397-A3A1-9ED3EAD0F20D_1_105_c.jpeg" style="width: 100%">
    <img src="/assets/pictures/9E332A28-95C9-43E0-8A7F-FF02C547F33A_1_105_c.jpeg" style="width: 100%">
    <img src="/assets/pictures/590FEF4D-8068-4917-BBDF-5DD758909CC0_1_105_c.jpeg" style="width: 100%">
    <img src="/assets/pictures/E559FE9F-A664-46C6-8BA2-D727A95524A5_1_201_a.jpeg" style="width: 100%">
    <img src="/assets/pictures/BBD7CF7B-0BEE-4750-B12C-03271E8191AB_1_105_c.jpeg" style="width: 100%">








<!-- you can put more images here -->

  </div>
  <div class="column">
    <img src="/assets/pictures/IMG_1075.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1079.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1092.JPG" style="width:100%">
    <img src="/assets/pictures/IMG_1098.JPG" style="width:100%">
    <img src="/assets/pictures/4B1B2371-E819-4A9A-A314-EABB2FC95A45_1_105_c.jpeg" style="width: 100%">
    <img src="/assets//pictures/15B8AEB1-B3FD-4130-8EB5-C98142AA712A_1_105_c.jpeg" style="width: 100%">
    <img src="/assets/pictures/29022FC0-865B-4F49-8044-A638B86184DB_1_105_c.jpeg" style="width: 100%">
    <img src="/assets/pictures/EC4ECFD6-8B47-4743-9057-92B7A74B5F2E_1_201_a.jpeg" style="width: 100%">
    <img src="/assets/pictures/FE39B7ED-6422-4EA8-87C2-DACA7485610D_1_105_c.jpeg" style="width: 100%">







<!-- you can put more images here -->
  </div>
</div>
