/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body {
  background-color: whitesmoke;
}

h1 {
  font-family: 'New Rocker', cursive;
  font-weight: 200;
}

h2 {
  font-family: 'New Rocker', cursive;
    font-weight: 300;
}

h3 {
  font-family: 'New Rocker', cursive;
    font-weight: 100;
}

p {
  font-family: 'New Rocker', cursive;
    font-weight: 300;
}

.navbar {
  font-family: 'New Rocker', cursive;
  font-weight: 100;
  font-size: 2rem;
  position: sticky;
}
