/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


body {
  background-color: whitesmoke;
}

h1 {
  font-family: 'New Rocker', cursive;
  font-weight: 200;
}

h2 {
  font-family: 'New Rocker', cursive;
    font-weight: 300;
}

h3, h4 {
  font-family: 'New Rocker', cursive;
    font-weight: 100;
}

p {
  font-family: 'New Rocker', cursive;
  font-weight: 300;
}

.navbar {
  font-family: 'New Rocker', cursive;
  font-weight: 100;
  font-size: 2rem;
  position: sticky;
}



@media screen and (max-width : 1588px) {
  .navbar {
    padding-top: 2rem;
  }
}
@media screen and (max-width : 972px) {
  .navbar {
    font-size: 1.5rem;
    padding-top: 2rem;

  }
}

@media screen and (max-width : 772px) {
  .navbar {
    font-size: large;

  }
}
@media screen and (max-width : 575px) {
  .navbar {
    padding-top: .5rem;
  }
}

.nav-item {
 padding-top: 1rem;
}
