/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


body {
  background-color: whitesmoke;
}

h1, h2, h3, h4 {
  /* background-color: gray; */
  color: maroon;
  text-shadow: 1px 1px black;
  font-family: 'New Rocker', cursive;
  padding-top: 1rem;
}

p, .navbar {
  color: maroon;
  font-family: 'New Rocker', cursive;

}
h1 {
  font-weight: 200;
}

h2 {
    font-weight: 300;
}

h3, h4 {
    font-weight: 100;
}

p {
  font-weight: 300;
}


.navbar {
  font-weight: 100;
  font-size: 2rem;
}

/* large tablets, desktops */
@media screen and (min-width: 574px) {

  p {
    font-size: 2vh;
  }

}

@media screen and (max-width : 1588px) {
  .navbar {
    padding-top: 2rem;
  }
}
@media screen and (max-width : 972px) {
  .navbar {
    font-size: 1.5rem;
    padding-top: 2rem;

  }
}

@media screen and (max-width : 772px) {
  .navbar {
    font-size: large;

  }
}
@media screen and (max-width : 575px) {
  .navbar {
    padding-top: .5rem;
  }
}

.nav-item {
 padding-top: 1rem;
}

@media screen and (max-width: 532px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }

}
