.bg {
  background-image: url("../background/JetBackground.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
  /* padding: 10px 30px; */
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  text-shadow: 2px 2px black;
  font-size: 8rem;
}

h2 {
  text-shadow: 0.65px 2px black;
  font-size: 6rem;
}

h3 {
  text-shadow: 0.1px 2px black;
  font-size: 4rem;
}

h4 {
  text-shadow: 0.1px 2px black;
  font-size: 3rem;
}

/* large tablets, smaller desktops */
@media screen and (max-width: 958px) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }
}

/* medium tablets, large phones */
@media screen and (max-width: 532px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 2rem;
  }
}

/* small phones, iphone */
@media screen and (max-width: 348px) {

  h1 {
    font-size: 2rem;
  }
}


